/* src/pages/ProjectsPage.module.css */
.container {
    padding: 20px;
  }
  
  .projectList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  @media (max-width: 768px) {
    .projectList {
      flex-direction: column;
      align-items: center;
    }
  }
  